<div class="row">
  <div class="small-2 columns">
    {{#link-to indexRouteName class="prefix button secondary"}}
      Change Venue
    {{/link-to}}
  </div>
  <div class="small-10 columns">
    <input type="text" disabled {{bind-attr value=model.name}}>
  </div>
</div>

<div class="row" {{bind-attr class="errorMessage:error"}}>
  <div class="small-2 columns">
    <label class="inline right">Select photo</label>
  </div>
  <div class="small-10 columns">
    {{photo-select items=model.photos selected=photoId action='photoSelected'}}
    {{#if errorMessage}}
      <small class="error">{{errorMessage}}</small>
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="small-2 columns">
  </div>
  <div class="small-10 columns">
    {{#if model.description}}
      <p>{{model.description}}</p>
    {{/if}}
    <ul class="unformatted-list">
      {{#each line in model.location.formattedAddress}}
        <li>{{line}}</li>
      {{/each}}
    </ul>
  </div>
</div>

