<div class="row">
  <div class="small-3 medium-2 columns">
    {{#link-to indexRouteName class="prefix button secondary change-venue"}}
      Switch
    {{/link-to}}
  </div>
  <div class="small-9 medium-10 columns">
    <input type="text" disabled {{bind-attr value=model.name}}>
  </div>
</div>

<div class="row">
  <div class="small-3 medium-2 columns">
    <label class="inline right">Select photo</label>
  </div>
  <div class="small-9 medium-10 columns">
    {{photo-select items=model.photos selected=stop.photoId action='photoSelected'}}
    {{#if errors.stop.photoId}}
      <small class="error">{{errors.stop.photoId}}</small>
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="small-3 medium-2 columns">
  </div>
  <div class="small-9 medium-10 columns">
    {{#if model.description}}
      <p>{{model.description}}</p>
    {{/if}}
    <ul class="unformatted-list">
      {{#each line in model.location.formattedAddress}}
        <li>{{line}}</li>
      {{/each}}
    </ul>
  </div>
</div>

