{{#each stop in controller}}
  <div class="stop">
    <div class="row stop-row">
      <div class="small-3 columns">
        <img {{bind-attr src=stop.photoUrl}} class="photo">
      </div>
      <div class="small-9 columns">
        {{#if controller.isOwner}}
          <ul class="inline-list right">
            <li>
              {{#link-to 'venues.edit' stop class='edit'}}edit{{/link-to}}
            </li>
            <li>
              <a {{action 'delete' stop}} class='delete'>delete</a>
            </li>
            <li>
              <a {{action 'moveStop' stop 'up'}} class='up'>
                {{fa-icon "fa-chevron-up"}}
              </a>
            </li>
            <li>
              <a {{action 'moveStop' stop 'down'}} class='down'>
                {{fa-icon "fa-chevron-down"}}
              </a>
            </li>
          </ul>
        {{/if}}
        <h3 class="stop-name">{{stop.name}}</h3>
        <h4 class="venue-name">{{stop.venueName}}</h4>
        <p>{{stop.description}}</p>
        <ul class="unformatted-list">
          {{#each line in stop.location}}
            <li>{{line}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="row">
      <hr>
    </div>
  </div>
{{/each}}
