{{#each stop in model}}
  <h3>{{stop.name}}</h3>
  <h4>{{stop.venue.name}}</h4>
  <p>{{stop.venue.description}}</p>
  <p>{{stop.venue.location}}</p>
  <p>
    <img {{bind-attr src=stop.venue.photoUrl}}>
  </p>
{{/each}}
